.home{
    width: 90%;
    padding-top: 10px;
    height: 700px;
    margin: 0 auto;
}
.bloco-frase{
    width: 50%;
    height: 200px;
    float: left;
    position: relative;
    border: 2px solid;
}
.bloco-Amigos{
    width: 50%;
    height: 500px;
    float: left;
    border: 2px solid;
}
.bloco-noticia{
    width: 50%;
    height: 700px;
    float: right;
    border: 2px solid;
}

@media screen and (min-width: 80px) and (max-width: 700px) { 
   
 
}
@media screen and (min-width: 700px) and (max-width: 1300px) { 
   
   
}